html {
  font-family: 'poppins', sans-serif;
  font-size: 16px;
}

h1 {
  margin: 0.3125rem 0;
  font-size: 1.5625rem;
  font-family: 'poppins-semibold', sans-serif;
}

h2 {
  margin: 0.3125rem 0;
  font-size: 0.875rem;
  font-family: 'poppins', sans-serif;
}

h3 {
  margin: 0.3125rem 0;
  font-size: 1.25rem;
  font-family: 'poppins-semibold', sans-serif;
  background: linear-gradient(to right, #0050FF, #7f3bcf) border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

p {
  margin: 0.3125rem 0;
  font-size: 1rem;
}

.carre {
  width: 1rem;
  height: 1rem;
  background: linear-gradient(to right, #0050FF, #7f3bcf) border-box;
}

.carre1 {
  width: 1.25rem;
  height: 1.25rem;
  background: linear-gradient(to right, #0050FF, #7f3bcf) border-box;
}

.carre2 {
  width: 0.8125rem;
  height: 0.8125rem;
  background: linear-gradient(to right, #0050FF, #7f3bcf) border-box;
}

.carre3 {
  width: 0.625rem;
  height: 3.125rem;
  background: linear-gradient(to bottom, #0050FF, #7f3bcf) border-box;
}

.bonton1, .bonton2, .bonton3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 100px;
}

.bonton1 {
  background: linear-gradient(to right, #0050FF, #7f3bcf) border-box;
  color: white;
  height: 2.1875rem;
  width: 8.125rem;
}

.bonton1:hover p {
  font-size: 110%;
}

.bonton2 {
  height: 2.1875rem;
  width: 8.125rem;
  border: 1px solid black;
}

.bonton2:hover p {
  font-size: 110%;
}

.bonton3 {
  background: linear-gradient(to right, #0050FF, #7f3bcf) border-box;
  color: white;
  height: 2.5rem;
  width: 10rem;
}

.bonton3:hover p {
  font-size: 110%;
}

.section {
  display: flex;
  margin: 1.25rem 0;
  background-color: white;
  box-shadow: 0.625rem 0.625rem rgba(0, 0, 0, 0.1);
}

/* Header */

header {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem 3.125rem;
}

.header {
  display: flex;
  align-items: center;
}

.header2 {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.actuel {
  background: linear-gradient(to right, #0050FF, #7f3bcf) border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 1.5625rem;
  height: 1.25rem;
  cursor: pointer;
  z-index: 1000;
}

.burger-menu span {
  display: block;
  height: 0.1875rem;
  background-color: black;
  border-radius: 0.3125rem;
}

/* Menu déroulant */
.burger-nav {
  display: none;
  position: absolute;
  top: 4.375rem;
  right: 1.25rem;
  background-color: white;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
  flex-direction: column;
  z-index: 999;
}

.burger-nav a {
  padding: 0.625rem 1.25rem;
  text-align: center;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #eee;
}

.burger-nav a:last-child {
  border-bottom: none;
}

.burger-nav a:hover {
  background-color: #f0f0f0;
}

.text-page-title {
  font-size: 35px;
  font-family: 'poppins-semibold', sans-serif;
}


/* Affichage pour les petits écrans */
@media (max-width: 850px) {
  .header2 {
    display: none;
  }

  .burger-menu {
    display: flex;
  }

  .burger-nav.active {
    display: flex;
  }
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  padding: 1.875rem 3.125rem;
}

.footer2 {
  display: flex;
  align-items: center;
  text-align: center;
  column-gap: 1.875rem;
}

.cvprojet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.875rem 0;
  background-color: #F4ECE6;
}

.sectionEscalade {
  justify-content: center;
  padding: 0.625rem;
  margin: 1.25rem;
}

.sheet-button {
  background-color: white;
  border: none;
  padding: 0.625rem;
  margin: 0.3125rem 0;
  cursor: pointer;
  text-align: left;
  width: 100%;
  font-size: 1rem;
  box-shadow: 0.625rem 0.625rem rgba(0,0,0,0.1);
}

.sheet-button:hover {
  background-color: #f2f2f2;
}

.sheet-container {
  margin-bottom: 0.9375rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1.25rem;
  box-shadow: 0.625rem 0.625rem rgba(0,0,0,0.1);
}

th, td {
  border: 1px solid #ddd;
  padding: 0.5rem;
}

tr {
  background-color: white;
}

/* Responsive */

.resWidth {
  width: 45.25rem;
}


@media (max-width: 48rem) {
  html {
    font-size: 75%;
  }

  h1 {
    font-size: 1.6667rem;
  }

  h2 {
    font-size: 0.8333rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .carre {
    width: 0.9167rem;
    height: 0.9167rem;
  }

  .carre1 {
    width: 1.25rem;
    height: 1.25rem;
  }

  .carre2 {
    width: 0.6667rem;
    height: 0.6667rem;
  }

  .carre3 {
    width: 0.4167rem;
    height: 2.5rem;
  }

  p {
    font-size: 0.8333rem;
  }

  a {
    font-size: 0.8333rem;
  }

  .bonton1, .bonton2 {
    height: 2.5rem;
    width: 10rem;
  }

  .bonton3 {
    height: 2.5rem;
    width: 10rem;
  }

  .profil1 {
    padding: 2.0833rem 3.75rem;
  }

  .profil2 {
    padding-left: 2.0833rem;
  }

  .imgprofil {
    width: 13.3333rem;
    height: 13.3333rem;
  }

  .titreprofil {
    font-size: 5.8333rem;
  }

  .titreprofil2 {
    font-size: 2.0833rem;
  }

  .bontonindex {
    padding: 1.6667rem 0.8333rem;
    gap: 1.25rem;
  }

  .section {
    justify-content: space-between;
  }

  .sectioncv2, .sectioncv3 {
    margin: 0;
    padding: 0.8333rem;
  }

  .image-projet {
    width: 8.3333rem;
  }

  .text-page-title {
    font-size: 2.9167rem;
  }
}

@media (max-width: 34.375rem) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 0.8333rem 0;
  }

  .footer2 {
    flex-direction: column;
    align-items: center;
  }

  .section {
    flex-direction: column;
  }

  .image-container {
    width: 100%;
    height: 20.8333rem;
  }

  .sectionprojet1 {
    min-width: 100%;
    max-width: 100%;
  }

  .sectioncv2 {
    margin: 0;
    padding: 0.8333rem;
  }

  .sectioncv3 {
    margin: 0;
    padding: 0.8333rem;
  }

  .competencecv {
    padding: 0;
  }

  .competencecv2 {
    padding: 0.4167rem;
  }

  .secret {
    font-size: 0;
    margin: 0;
  }

  .bodyprofil {
    display: block;
    height: 100%;
  }

  .profil {
    right: 0;
    padding: 0.8333rem;
  }

  .left {
    width: 100%;
    background-color: #FFFFFF;
  }

  .profil1 {
    padding: 0.8333rem;
  }

  .profil2 {
    padding-left: 1.6667rem;
  }

  .imgprofil {
    width: 8.3333rem;
    height: 8.3333rem;
  }

  .titreprofil {
    font-size: 3.3333rem;
  }

  .titreprofil2 {
    font-size: 1.6667rem;
  }

  .bontonindex {
    padding: 0.8333rem;
  }

  .profilicon {
    gap: 0.8333rem;
  }

  .footer {
    padding: 0.8333rem 0;
  }

  .image-projet {
    width: 0;
  }

  .resWidth {
    width: 90%;
  }

  .text-page-title {
    font-size: 2.0833rem;
  }
}

@media (max-width: 30rem) {
  html {
    font-size: 62.5%;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 1rem;
  }

  .carre {
    width: 0.6rem;
    height: 0.6rem;
  }

  .carre1 {
    width: 1rem;
    height: 1rem;
  }

  .carre2 {
    width: 0.3rem;
    height: 0.3rem;
  }

  .carre3 {
    width: 0.2rem;
    height: 2rem;
  }

  p {
    font-size: 1rem;
  }

  a {
    font-size: 1rem;
  }

  .bonton1 {
    height: 2rem;
    width: 8rem;
  }

  .bonton2 {
    height: 2rem;
    width: 8rem;
  }

  .bonton3 {
    height: 2.5rem;
    width: 11rem;
  }

  .text-page-title {
    font-size: 2rem;
  }
}

@media (max-width: 25rem) {
  .header {
    flex-direction: column;
  }

  h1. {
    font-size: 1rem;
  }

  .bontonindex {
    padding: 1rem 0;
    gap: 0.5rem;
  }

  .profil2 {
    padding-left: 2rem;
  }

  .imgprofil {
    width: 8rem;
    height: 8rem;
  }

  .profil2 .bonton1 {
    height: 2rem;
    width: 6rem;
  }

  .profil2 .bonton2 {
    height: 2rem;
    width: 6rem;
  }

  .sectioncv2 {
    width: 100%;
  }

  .sectioncv3 {
    width: 100%;
  }
}
